__pycache__/
*.py[cod]
*$py.class

.venv/
env/
venv/

.vscode/

.DS_Store
Thumbs.db

*.log
*.tmp

*.egg-info/
*.eggs/
*.pyo

htmlcov/
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover

.ipynb_checkpoints/

assets/*.tmp
assets/*.bak
assets/*.png
assets/*.jpg
assets/*.jpge
assets/*.mp4
